.padreCajasZ{
    background-color: yellow;
    left: 200px;
    position: absolute;
    }
    .caja1{
      z-index: 0;
      width: 300px;
      height: 300px;
      left:20px;
      top: 20px;
      border: 1px solid cyan;
      background-color: cyan;
      position: absolute;
    }
    .caja2{
      z-index: 1;
      width: 300px;
      height: 300px;
      left:40px;
      top: 40px;
      border: 1px solid orangered;
      background-color: orangered;
      position: absolute;
    }
    .caja3{
      z-index: 2;
      width: 300px;
      height: 300px;
      left:60px;
      top: 60px;
      border: 1px solid greenyellow;
      background-color: greenyellow;
      position: absolute;
    }
